<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Email Simples</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #242424;
    "
  >
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table width="600" cellpadding="0" cellspacing="0">
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: center;
                  color: white;
                  font-size: 20px;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            style="background-color: #ffffff"
          >
            <tr>
              <td width="600" class="t19" style="width: 600px">
                <table
                  class="t18"
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="width: 100%"
                >
                  <tr>
                    <td
                      class="t17"
                      style="
                        background-color: #f8f8f8;
                        padding: 0 50px 60px 50px;
                      "
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="width: 100% !important"
                      >
                        <tr>
                          <td align="left">
                            <table
                              class="t4"
                              role="presentation"
                              cellpadding="0"
                              cellspacing="0"
                              style="margin-right: auto"
                            >
                              <tr>
                                <td width="130" class="t3" style="width: 130px">
                                  <table
                                    class="t2"
                                    role="presentation"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    style="width: 100%"
                                  >
                                    <tr>
                                      <td
                                        class="t1"
                                        style="padding: 0 0 60px 0"
                                      >
                                        <div style="font-size: 0px">
                                          <img
                                            class="t0"
                                            style="
                                              display: block;
                                              border: 0;
                                              height: auto;
                                              width: 100%;
                                              margin: 0;
                                              max-width: 100%;
                                            "
                                            width="130"
                                            height="112.7513966480447"
                                            alt=""
                                            src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/7f025d01-5d1b-4fdf-8b07-53e1ffb551c5.png"
                                          />
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!--[if !mso]>-->
                        <tr>
                          <td>
                            <div
                              class="t5"
                              style="
                                mso-line-height-rule: exactly;
                                font-size: 1px;
                                display: none;
                              "
                            >
                              &nbsp;&nbsp;
                            </div>
                          </td>
                        </tr>
                        <!--<![endif]-->
                        <tr>
                          <td align="center">
                            <table
                              class="t10"
                              role="presentation"
                              cellpadding="0"
                              cellspacing="0"
                              style="margin-left: auto; margin-right: auto"
                            >
                              <tr>
                                <td width="500" class="t9" style="width: 600px">
                                  <table
                                    class="t8"
                                    role="presentation"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    style="width: 100%"
                                  >
                                    <tr>
                                      <td
                                        class="t7"
                                        style="padding: 0 0 25px 0"
                                      >
                                        <h1
                                          class="t6"
                                          style="
                                            margin: 0;
                                            margin: 0;
                                            font-family: Roboto,
                                              BlinkMacSystemFont, Segoe UI,
                                              Helvetica Neue, Arial, sans-serif;
                                            line-height: 34px;
                                            font-weight: 700;
                                            font-style: normal;
                                            font-size: 28px;
                                            text-decoration: none;
                                            text-transform: none;
                                            direction: ltr;
                                            color: #242424;
                                            text-align: left;
                                            mso-line-height-rule: exactly;
                                            mso-text-raise: 2px;
                                          "
                                        >
                                          Olá {{name}}
                                        </h1>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table
                              class="t15"
                              role="presentation"
                              cellpadding="0"
                              cellspacing="0"
                              style="margin-left: auto; margin-right: auto"
                            >
                              <tr>
                                <td
                                  width="500"
                                  class="t14"
                                  style="width: 600px"
                                >
                                  <table
                                    class="t13"
                                    role="presentation"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    style="width: 100%"
                                  >
                                    <tr>
                                      <td
                                        class="t12"
                                        style="padding: 0 0 45px 0"
                                      >
                                        <p
                                          class="t11"
                                          style="
                                            margin: 0;
                                            margin: 0;
                                            font-family: Roboto,
                                              BlinkMacSystemFont, Segoe UI,
                                              Helvetica Neue, Arial, sans-serif;
                                            line-height: 22px;
                                            font-weight: 400;
                                            font-style: normal;
                                            font-size: 16px;
                                            text-decoration: none;
                                            text-transform: none;
                                            direction: ltr;
                                            color: #333333;
                                            text-align: left;
                                            mso-line-height-rule: exactly;
                                            mso-text-raise: 2px;
                                          "
                                        >
                                          We hope that everything is as
                                          expected, but if you need any help,
                                          you can contact us through our
                                          customer service.
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                class="padding"
                style="
                  padding: 40px 50px;
                  background-color: #242424;
                  color: #ffffff;
                "
              >
                <h2
                  style="
                    font-size: 18px;
                    line-height: 22px;
                    color: #757575;
                    font-weight: 800;
                    margin: 0 0 20px 0;
                    letter-spacing: -0.9px;
                  "
                >
                  Want updates through more platforms?
                </h2>

                <!-- ÍCONES REDES SOCIAIS -->
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="margin-bottom: 30px"
                >
                  <tr>
                    <td style="padding-right: 15px">
                      <a href="#"
                        ><img
                          src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/7d5793e4-72f5-4114-aa22-156eaac61b8f.png"
                          alt="Ícone"
                          width="24"
                          style="display: block"
                      /></a>
                    </td>
                    <td style="padding-right: 15px">
                      <a href="#"
                        ><img
                          src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/61c94eea-91e1-449e-88c5-07e75e491cfb.png"
                          alt="Ícone"
                          width="24"
                          style="display: block"
                      /></a>
                    </td>
                    <td style="padding-right: 15px">
                      <a href="#"
                        ><img
                          src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/d21db5fe-2791-4ed5-91d8-2a7887cde790.png"
                          alt="Ícone"
                          width="24"
                          style="display: block"
                      /></a>
                    </td>
                    <td style="padding-right: 15px">
                      <a href="#"
                        ><img
                          src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/bd139cd4-24ed-418b-b3df-1cfbfb6b4d3b.png"
                          alt="Ícone"
                          width="24"
                          style="display: block"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://de573dbe-72f2-49ac-b6b4-edd3fab16484.b-cdn.net/e/233949ec-2ec9-4210-97fa-672f5c88c3bf/7781a577-17fc-4df3-b44b-dd99ef4a56a8.png"
                          alt="Ícone"
                          width="24"
                          style="display: block"
                      /></a>
                    </td>
                  </tr>
                </table>

                <p
                  style="
                    font-size: 15px;
                    line-height: 22px;
                    color: #ffffff;
                    margin: 0 0 20px 0;
                    font-weight: 300;
                  "
                >
                  www.elifet.com.br
                </p>

                <p
                  style="
                    font-size: 12px;
                    line-height: 22px;
                    color: #e34423;
                    margin: 0;
                  "
                >
                  <a
                    href="#"
                    style="
                      color: #e34423;
                      text-decoration: none;
                      font-weight: 700;
                    "
                    >Privacy policy</a
                  >
                  •
                  <a
                    href="#"
                    style="
                      color: #e34423;
                      text-decoration: none;
                      font-weight: 700;
                    "
                    >Contact us</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table width="600" cellpadding="0" cellspacing="0">
            <tr>
              <td
                style="
                  padding: 15px;
                  text-align: center;
                  color: white;
                  font-size: 12px;
                "
              >
                &copy; 2025 Elifet. Todos os direitos reservados.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
